* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: sans-serif;
}

.page-header {
  background-color: #000;
  height: 80px;
  padding: 1em;
  color: #fff;
  margin: 5px;
}

.hero {
  background-color: green;
  height: 300px;
  padding: 1em;
  color: #fff;
  margin: 5px;
}

.columns {
  display: flex;
}

.col {
  background-color: yellow;
  height: 200px;
  padding: 1em;
  width: 33.33%;
  margin: 5px;
}